<div id="thank_you">
	<%= image_tag ( "tiara.png" ), :class => "mx-auto d-block"	 %>
	<h6 class="text-center">Thank you for your response.</h6>
	<p class="text-center response">We can’t wait to see you on September 26<sup>TH</sup>!</p>
	<button class="btn explore-dx">
		<a href="https://dxagency.com/" target="_blank">
			Explore DXagency
		</a>
	</button>
</div>