// Place all the styles related to the Guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero {
	width: 100%;
	height: 0;
	padding-bottom: 145px;
	position: relative;
	margin-bottom: 22px;
	.hero-image {
		background-image: url(top.png);
		width: 100%;
		position: absolute;
		height: 100%;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		overflow: hidden;
	}	
}

h1 {
	font-family: 'Cormorant Garamond';
	font-size: 28px;
	text-align: center;
	color: #ed4034;
	font-weight: 600;
}
main {
	display: flex;
	justify-content: center;
	margin-top: 22px;
	flex-direction: column;
	align-items: center;
}
h6 {
	font-weight: bold;
	font-size: 22px;
	&.important {
		color: #ed4034;
	}
}
p {
	font-size: 18px;
}

.error {
	border-color: red !important;
}

.invitation-details {
	background-image: url(envelope.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin: 0 auto;
	padding: 45px 3% 30px 3%;
	text-align: center;
	font-size: 20px;
	width: 100%;
	max-width: 480px;
}
@media (max-width: 460px) {
	.invitation-details {
		background-image: url(letter.png);
		padding-top: 25px;
	}
	h6 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
}
@media (max-width: 360px) {
	.invitation-details { 
		padding: 35px 10% 30px 10%;
	}
}
h5 {
	font-size: 18px;
	font-weight: 400;
	color: #2d2d2d;
	margin-bottom: 18px;
}
.reservations {
	border: 1px solid #ed4034;
	padding: 13px 20px;
	color: #2d2d2d;
	width: 99%;
	input[type="radio"] {
		-webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		-ms-appearance: checkbox;
		color: #2d2d2d;
	}
	input[type="text"], input[type="email"]  {
		padding: 8px 14px;
		border: 1px solid #2d2d2d;
		font-size: 18px;
		margin-bottom: 14px;
		color: #2d2d2d;
		width: 48.5%;
		border-style:solid;
		border-radius: 0;
		&:focus {
			border-color: #2d2d2d !important;
		}
	}
	/* Customize the label (the container) */
	.container-checkbox {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 18px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	.container-checkbox input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  border: 1px solid #2d2d2d;
	  color: #2d2d2d;
	}
	/* On mouse-over, add a grey background color */
	.container-checkbox:hover input ~ .checkmark {
	  // background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container-checkbox input:checked ~ .checkmark {
	  background-color: #ee4034;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark-checkbox:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	.container-checkbox input:checked ~ .checkmark-checkbox:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.container-checkbox .checkmark:after {
	  left: 9px;
	  top: 5px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.container-checkbox:first-child {
		margin-right: 75px;
	}

	.submit_guest {
		margin: 0 auto;
		background-color: #ee4034;
		color: #fff;
		border-radius: 0;
		width: 205px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 18px;
		font-weight: bold;
	}

	#guest_status.error {
		.checkmark {
			border-color: red !important;
		}
	}

	@media (max-width: 500px) {
		.checkbox-wrapper {
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.container-checkbox:first-child {
			margin-right: 0px;
		}
	}
	@media (max-width: 420px) {
		.checkbox-wrapper > label {
			width: 100%;
		}
		.field.d-flex {
			flex-wrap: wrap;
		}
		.field.d-flex > input {
			width: 100%;
		}
	}
}
@media (min-width: 522px) {
	.reservations {
		width: 476px;
	}
}
footer {
	margin-top: 36px; 
	font-size: 8px;
	font-family: 'Cormorant Garamond';
	color: #8f8f8f;
}


// DOWNLOADS

#downloads {
	margin-bottom: 3rem;
	.csv-download {
		margin: 0 10px;
	}
	p {
		margin-bottom: 10px;
		text-align: center;
	}
	button {
		margin: 0 auto;
		background-color: #ee4034;
		color: #fff;
		border-radius: 0;
		width: 205px;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: 18px;
		font-weight: bold;
	}
}


// THANK YOU

#thank_you {
	display: none;
	padding: 0px 0 15px 0;
	img {
		width: 103px;
	}
	h6 {
		margin-bottom: 5px;
		margin-top: 13px;
	}
	p {
		margin-bottom: 27px;
	}
	.explore-dx {
		margin: 0 auto;
		color: #000;
		border-radius: 0;
		width: 205px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: bold;
		border: 2px solid #ee4034;
		margin: 0 auto;
		display: block;
		&:hover {
			
				background-color: #ee4034;
				a {
					color: #fff;
				}
		}
		a {
			color: #000;
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}	
}
